@import '../../assets/scss/variables.scss';
.container {
  header {
    height: 60px;
    background: gray;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    a {
      font-size: 36px;
      color: $bg-gray1;
      text-decoration: none;
      display: flex;
      align-items: center;
      img {
        width: 30px;
        margin-right: 16px;
      }
    }
  }
  .menuBar {
    height: 75px;
    background: gray;
    margin-bottom: 60px;
    text-align: right;
    ul{
      background-color:gray;
      padding-right:8%;
      display: flex;
      justify-content: center;
      float: right;
      li{
        border-bottom: 0px solid #262626;
        display: inline;
        padding:22px;
        color: white;
        font-size: 22px;
        text-align:right;
        a{
          color:white;
        }
      }
    }
  }
  .trading-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    p {
      font-size: 16px;
    }
  }
  .chart-div {
    display: flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
  }
  ul{
    background-color:#303032;
    padding:0px;
    li{
      border-bottom: 1px solid #262626;
      min-height:25px;
      line-height: 25px;
      display: block;
      justify-content: center;
      padding:15px;
      color: white;
      font-size: 12px;
      text-align:center;
      .greenCharacter{
        color:rgb(30, 255, 30)!important;
      }
      span{
        font-size: 12px;
        letter-spacing:-1px;
        line-height: 25px;
      }
      a{
        color:white;
      }
      p{
        font-size: 20px;
      }
    }
  }
  .bn-demo-button {
    background: #0359bb;
    font-size: 1rem;
    border:0px solid #0359bb;
    border-radius: 40px;
    padding: 0.02rem 1.4rem;
    color:white;
    margin: 0 0.5rem;
    transition: background 200ms ease-in-out, color 200ms ease-in-out;
  }
  
  .bn-demo-button:focus {
    outline: none;
  }
  
  .bn-demo-button:hover {
    cursor: pointer;
    color: #0359bb;
    background : white;
  }
}
